.boardContainer {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.squareStyle > button {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
}

/* Button Design CSS */
.start-button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 20px;
}
